body {
  background-color: #fddfdf;
}

h1 {
  text-align: center;
  /* font-size: 300px; */
}

/* .bullish {
  display: grid;
  grid-template-columns: 1 1 1 1;
} */

img {
  padding-bottom: 20px;
  height: 90%;
  width: 90%;
}
