body {
  background-image: linear-gradient(
    10deg,
    rgb(41, 223, 41),
    rgb(119, 247, 87),
    rgb(158, 247, 170),
    rgb(190, 248, 166)
  );
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}

.word {
  font-family: "Akaya Kanadaka", cursive;
  height: 50px;
  position: centre;
  width: 40%;
  font-weight: bold;
  font-size: 25px;
  background-color: cyan;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: auto;
  padding-top: 5px;
  cursor: pointer;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2.5px solid black;
  display: block;
  flex-direction: column;
  align-items: center;
  border-radius: 500px;
}

.word:hover {
  height: 50px;
  position: relative;
  width: 40%;
  font-weight: bold;
  font-size: 25px;
  background-color: red;
  color: cyan;
  text-align: center;
  /* padding: auto; */
  padding-top: 5px;
  cursor: pointer;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2.5px solid black;
  display: block;
  flex-direction: column;
  align-items: center;
}

.close {
  height: 25px;
  background-color: rgb(251, 255, 27);
  width: 25px;
  padding-left: 1px;
  margin-left: 10px;
  display: inline-flex;
  border-radius: 20px;
}

.close:hover {
  height: 25px;
  background-color: rgb(76, 255, 5);
  width: 25px;
  padding-left: 1px;
  margin-left: 10px;
  display: inline-flex;
}

.meaning {
  margin: 20px;
  height: auto;
  width: 40%;
  font-size: 22px;
  font-weight: bold;
  margin-left: 30%;
  text-align: center;
  color: rgb(68, 0, 255);
  display: inline-flex;
}

.hidden {
  display: none;
}

.slang,
.informal,
.archaic {
  /* margin-top: 10px; */
  margin: 10px;
  font-style: italic;
  font-weight: 200;
  display: inline-block;
  font-family: Arial;
}

.text .clicked {
  background-color: rgb(255, 0, 0);
  color: black;
}

.clicked:hover {
  background-color: rgb(28, 128, 33);
  color: rgba(255, 255, 255, 0.925);
}

.letter {
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

a {
  display: inline-flex;
  border: black 1.5px solid;
  text-align: center;
  margin: 10px;
  height: auto;
  width: auto;
  padding-left: 8px;
  padding-top: 5px;
  padding: 7px;
  background-color: rgb(248, 252, 0);
  color: rgb(250, 0, 208);
  text-decoration: none;
  border-radius: 20px;
}

a:hover {
  color: rgb(248, 252, 0);
  background-color: rgb(250, 0, 208);
}

#up {
  display: inline-flex;
  text-align: center;
  margin-bottom: 100px;
  margin: 10px;
  font-weight: bolder;
  height: auto;
  width: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  float: right;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: black solid 2px;
  border-radius: 10px;
}

#indexlink {
  position: sticky;
  top: 20px;
  display: inline-flex;
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  height: auto;
  width: auto;
  padding: 10px;
  float: right;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: black solid 2px;
  border-radius: 10px;
}

#indexlink:hover {
  color: rgb(255, 255, 251);
  background-color: rgb(5, 5, 5);
}

#up:hover {
  color: rgb(255, 255, 251);
  background-color: rgb(5, 5, 5);
}

.reset {
  font-family: fantasy;
  position: sticky;
  font-size: 18px;
  top: 20px;
  display: flex;
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  height: auro;
  width: auto;
  margin-left: 20px;
  padding: 10px;
  float: left;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: black solid 2px;
  border-radius: 10px;
  cursor: pointer;
}

.reset:hover {
  color: rgb(255, 255, 251);
  background-color: rgb(5, 5, 5);
}

#index {
  display: inline-block;
  margin: 20px;
}

.priorty {
  display: inline;
  /* margin-left: 10px; */
  width: 32%;
  height: 70px;
  position: center;
  color: rgb(247, 11, 11);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}

.first {
  background-color: cyan;
}

.second {
  background-color: green;
}

.third {
  background-color: yellow;
}

.priorty:hover {
  display: inline-block;
  width: 32%;
  /* margin-left: 10px; */
  height: 70px;
  position: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
}

.priortyClicked {
  background-color: inherit;
  color: black;
}

.priortyClicked:hover {
  background-color: inherit;
  color: red;
}
